<script type="text/javascript">
/**
  * v0.0.20 generated on: Sat Jan 23 2016 13:24:36 GMT-0600 (CST)
  * Copyright (c) 2014-2016, Corey Butler. All Rights Reserved.
  */
var NgnLayout=document.registerElement("ngn-layout",{prototype:Object.create(HTMLElement.prototype,{initTpl:{enumerable:!1,value:function(){var t='<template> <style> @charset "UTF-8";  /* Main viewport */ :host([type="viewport"]) { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: flex; flex: 1 1 auto; overflow: hidden; align-items: stretch; align-content: stretch; align-self: stretch; flex-direction: column; } [type="viewport"] { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: flex; flex: 1 1 auto; overflow: hidden; align-items: stretch; align-content: stretch; align-self: stretch; flex-direction: column; }  /* Main Layout */ #host { position: relative; display: flex; flex: 1 1 auto; align-self: stretch; align-items: stretch; align-content: stretch; }  /* Non-viewport containers (Chrome + Others) */ :host(:not([type="viewport"])) { display: flex; flex: 1 1 auto; } #host > * { display: flex; flex: 1 1 auto; }  /* Columns */ :host([type="vertical"]) > #host { flex-direction: column; } [type="vertical"] > #host { flex-direction: column; }  /* Rows */ :host([type="horizontal"]) > #host { flex-direction: row; } [type="horizontal"] > #host { flex-direction: row; } </style> <section id="host"> <content></content> </section> </template> '.replace(/<(\/?)template(.*?)>/gi,""),e=this.createShadowRoot(),o=document.createElement("p");o.insertAdjacentHTML("afterbegin",t),Array.prototype.slice.call(o.children).forEach(function(t){e.appendChild(document.importNode(t,!0))}),delete o}},createdCallback:{value:function(){this.initTpl()}}})});
</script>